language: node_js
node_js:
  - '0.10'
  - 'iojs'
addons:
  firefox: "38.0"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
sudo: false
script: npm test && npm run check-jsdoc && npm run lint
notifications:
  email:
    - mike@famo.us
    - myles@famo.us
    - marianna@famo.us
  slack:
    secure: xy1hxUnULcBZxt3eGO8v/IUuIvvTUGZvMVaKeh/+gbutExlODJbav2i7tfzi71SynBCA483wTEh/RHX96hvhrS52kkJTXPq6b17pgGAbx549ouKD/8nzB0AW0THeLZY/dsWxS/T1MXtZMAabufv4Zh8+H5m6ZOo9DPNYsjD2URk=
